img {
  border-radius: 120px;
}

body {
  margin-left: 20px;
  background-color: #c5d7bd;
  font-family: arial,sans-serif;
}
table{
  border-spacing: 10px;
}
.heading {
  color: grey;
}

.links {
  color: #383e56;
}

.links:hover {
  color: green;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 40px;
  margin: 30px auto 30px auto;
}
@media (max-width: 900px){
  body{
    font-size: 1.6rem;
  }
  h1, h2 ,h3{
    font-size: 2.4rem;
  }
  .table_elements{
    font-size: 1.6rem;
  }
}
