img {
  border-radius: 120px;
}

body {
  background-color: #c5d7bd;
  font-family: arial,sans-serif;
}

h1 {
  color: grey;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 20%;
}
